<h1>Create a new post</h1>
<div class="container">
  <form #postForm="ngForm" (ngSubmit)="handleSubmit(postForm)">
    <ul>
      <li><b>Pristine</b>: {{postForm.pristine}}</li>
      <li><b>Dirty</b>: {{postForm.dirty}}</li>
      <li><b>Touched</b>: {{postForm.touched}}</li>
    </ul>
    <div class="container">
      <div class="form-group">
        <input type="text"
               class="form-control ng-valid"
               name="title"
               placeholder="title" [(ngModel)]="post.title"
               #name="ngModel"
               required />
        <div class="alert alert-danger"
             *ngIf="name.touched && name.invalid">{{titleError}}</div>
      </div>
      <div class="form-group">
        <textarea
                  rows="4"
                  name="description"
                  [(ngModel)]="post.description"
                  placeholder="description"
                  class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">
        Create
      </button>
    </div>
  </form>
</div>
