<h2>{{counter}}</h2>

<ng-content select="[body1]"></ng-content>
<br>
<br>
<div style="display: flex; justify-content: flex-end; border-top: 5px solid #b5b5b5; ">
  <button style="margin-right: 24px" class="btn" (click)="handleClick()">Add Like</button>
  <button class="btn" [ngClass]="{'btn-primary': showCommentForm}" (click)="toggleCommentForm()">comment</button>
</div>

<app-comment *ngIf="showCommentForm"
             [comments]="post?.comments"
             [postId]="post?._id"
></app-comment>
