<h1 #postTitle>Posts</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <app-post-form></app-post-form>
    </div>
    <div class="col-md-12 col-sm-12">
      <app-post-item *ngFor="let post of getPosts()" [post]="post" (onPostLike)="onButtonClicked($event)">
        <ng-container body1>
          <h2>{{post?.title}}</h2>
          <p>{{post?.description}}</p>
          <strong>{{post?.likes}}</strong>
        </ng-container>

        <ng-container postFooter>
          <div>Footer content!</div>
        </ng-container>
      </app-post-item>
    </div>
  </div>
</div>
