<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
        <div class="inbox_msg">
          <app-message-nav></app-message-nav>
          <div class="mesgs">
            <div class="msg_history">
              <app-message-body-icomming></app-message-body-icomming>
              <app-message-body-outgoing></app-message-body-outgoing>
            </div>
            <app-message-body-bottom></app-message-body-bottom>
          </div>
        </div>
      </div></div>
